body{
  color: transparent;
  background-color: #0066ff;
  padding: 0px;
  margin: 0px;
}

div {
  margin: auto;
}

#modal-container {
  position: fixed;
  padding: 20px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  overflow: auto;
  display: none;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
}

#modal-container.is-visible {
  display: inline-block;
}

.modal {
  margin: auto;
  display: inline-block;
  box-sizing: border-box;
  background: lightblue;
  padding: 15px;
  width: 40%;
  border-radius: 20px;
}

.modal-close {
  position: absolute;
  top: 3%;
  right: 31%;
  border: 0;
  background: none;
  color: #fff;
  width: 10%;
}

.modal-close:hover {
  color: red;
  background: none;
}

.modal h1 {
  margin-top: 0;
  color: #0066cc;
  text-align: center;
}

.modal p {
  margin-bottom: 0;
  color: #0066cc;
  text-align: center;
}

h1{
  font-size: 30px;
  color: #fff;
  background-color: transparent;
  font-family: 'Bebas Neue', cursive;
  text-align: center;
}

p {
  font-family: 'Bebas Neue', cursive;
  font-size: 20px;
}

button {
  background-color: lightblue;
  color: #000;
  padding: 10px;
  margin-top: 10px;
  width: 85%;
  height: 50px;
  font-family: 'Bebas Neue', cursive;
  font-size: 20px;
}

button:hover {
  color: #fff;
  background-color: gray;
}

.pokemon-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  list-style: none;
  padding: 0;
  text-align: center;
  align-items: center;
}

@media (max-width: 800px) {
  .pokemon-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media all and (max-width: 500px) {
  .pokemon-list {
    grid-template-columns: 1fr 1fr;
  }
}
