body{
  color: transparent;
  background-color: #0148b2;
  padding: 0px;
  margin: 0px;
}

header {
  margin-top: 135px;
}

.navbar {
  background-color: #394051;
}

.modal h1 {
  color: #0066cc;
  text-align: center;
}

.modal p {
  color: #0066cc;
}

h1{
  font-size: 30px;
  color: #fff;
  background-color: transparent;
  font-family: 'Bebas Neue', cursive;
  text-align: center;
}

p {
  font-family: 'Bebas Neue', cursive;
  font-size: 20px;
  color: #000;
  text-align: center;
}

.btn {
  background-color: lightblue;
  color: #000;
  border: none;
}

.pokemon {
  background-color: lightblue;
  color: #000;
  margin-top: 15px;
  width: 85%;
  height: 50px;
  font-family: 'Bebas Neue', cursive;
  font-size: 20px;
  border-radius: 10px;
  border: none;
  text-align: center;
}

.pokemon:hover {
  color: #fff;
  opacity: 70%;
}

.pokemon-button {
  background-color: lightblue;
  color: #000;
  font-family: 'Bebas Neue', cursive;
  font-size: 20px;
  border-radius: 10px;
  border: none;
  width: 100%;
  height: 50px;
}

.pokemon-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
